@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model Aluno
}

<h1>Meus Dados</h1>

<p>Nome: @Model.Nome</p>
<p>RA: @Model.Ra</p>
<p>Data de Nascimento: @Model.DataDeNascimento.ToLocalTime()</p>
@{ 
    int idade = DateTime.Now.Year - Model.DataDeNascimento.Year;
}
<p>Minha idade: @idade</p>